@charset "UTF-8";
@text: #111;
@base: #f4f4f4;
@link: #2a3644;
@button: #f26964;
@bottom: #ab4b47;


/* body　*/
body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro',  '15px/1.25 ',Alefsans-serif;
	background-color:#7f8c8d;
	background-image: url("greyParper.jpg");
}

a{
	text-decoration:none;
}


/* ログイン画面　*/
.rounded (@radius: 6px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
       -o-border-radius: @radius;
          border-radius: @radius;
}

.trans (@transition: .1s) {
  -webkit-transition: all @transition ease-in-out;
     -moz-transition: all @transition ease-in-out;
          transition: all @transition ease-in-out;
}

* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  margin:70px auto;
  background:@text;
  width:347px;
  text-align:center;
  padding:40px;
  .rounded;
}

form > h1 {
  color:@base;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.7);
  font-weight:400;
  margin-bottom:20px;
}

input {
  background:rgba(0, 0, 0, 0.2);
  display:block;
  color:black;
  width:269px;
  padding:15px;
  margin-bottom:10px;
  .rounded;
  .trans;
  outline:none;
}

input:focus {
  background:rgba(0, 0, 0, 0.1);
  .trans;
}

input a {
	color: black;
}

::-webkit-input-placeholder {
	color: rgba(180, 180, 180, 0.8);
}

:-moz-placeholder {
	color: rgba(225, 225, 225, 0.4); 
}

::-moz-placeholder {
	color: rgba(225, 225, 225, 0.4);
}

:-ms-input-placeholder {  
	color: rgba(225, 225, 225, 0.4);
}

button {
	text-decoration:none;
	position:relative;
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	padding:17px;
	width:270px;
	.rounded;
	.trans;
	font-size:1.2em;
	background:@button;
	color:@base;
	box-shadow:0px 3px 0px @bottom;
	cursor:pointer;
}

/* トップ画面 */

.site h1 a {
	color:@text;
	text-decoration:none
}

.site h1 {
	margin:0;
	font-size:32px
}

/* 記事タイトル一覧 */
.article-list {
	margin-top:0;
	margin-bottom:20px;
	font-size:18px;
}

.article-list p {
	margin-top:0;
	margin-bottom:20px;
}

/* サイドメニュー　 */
.sidemenu ul {
	margin:0;
	padding:0;
	list-style:none
}

.sidemenu li a {
	display:block;
	padding:5px;
	color:@text;
	font-size:18px;
	text-decoration:none
}


.sidemenu p {
	margin-top:0;
	margin-bottom:10px;
	color:@text;
	font-size:20px
}

.box5 {
	width:100%;
	height:38px;
	border-top: solid 1px #dddddd;
	bottom: 0;
}

/* ヘッダーのコピーライト */
.copyright p {
	margin: 0;
	color:@text;
	font-size: 14px
}

/* テキストエリア（新規投稿）　*/

input.example1 { 
	width: 50%; 
}
input.example2 { 
	width: 150px; 
}

/* 新規投稿　*/
textarea {
	width:100%;
	height:100%;
	resize: none;
	background:rgba(0, 0, 0, 0.2);
	color:black;
	display:block;
	padding:15px;
	margin-bottom:10px;
	.rounded;
	.trans;
	 outline:none;
}

textarea:focus {
  background:rgba(0, 0, 0, 0.1);
  .trans;
}

textarea a{
	color: black;
}

::-webkit-textarea-placeholder {
   color: rgba(180, 180, 180, 0.8);
}

:-moz-placeholder {
   color: rgba(225, 225, 225, 0.4); 
}

::-moz-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-ms-textarea-placeholder {  
   color: rgba(225, 225, 225, 0.4);
}

button:active {
	top:3px;
	box-shadow:none;
}

/* メニュー */

.menu ul {
	margin:0;
	padding:0;
	list-style:none
}

.menu li a {
	display:block;
	padding:12px;
	width:100%;
	color:@text;
	font-size:18px;
	text-decoration:none
}

.menu li a:hover {
	background-color:#E3E3E3;
}

.menu ul:after {
	content:"";
	display:block;
	clear:both
}

.menu li {
	float:left;
	width:auto
}

/* BOX2をバーの形に　*/
.box2 {
	background-color: #f5f5f5;
}

/* BOXの上下間隔　*/
.box1 {
	padding-top: 8px;
	padding-bottom: 8px
}

.box3 {
	padding-top: 40px;
	padding-bottom: 30px
}

.box4 {
	padding-top: 40px;
	padding-bottom: 30px
}

.box5 {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* ########## 599px以下 ########## */
@media (max-width: 599px){

/* メニュー */
.menu li a	{
	padding: 10px 3px;
	font-size: 11px}

}

/* BOXの上下間隔　*/
.box1 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.box3 {
	padding-top: 25px;
}

.box4 {
	padding-top: 25px;
}

/* ########## 600px以上～767px以下 ########## */
@media(min-width:600px)and(max-width: 767){
/* BOX4-1とBOX4-2を横に並べる*/
.box4:after {
	content:"";
	display: block;
	clear: both;
}

.box4-1 {
	float: left;
	width: 50%;
}

.box4-2 {
	float: left;
	widh: 50%;
}

.box4-1 {
	padding-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box4-2 {
	padding-left: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


}

@media (min-width: 768px){
/* BOX3とBOX4横並びに　*/

.boxA:after {
	content:"";
	display:block;
	clear:both;
}

.box3 {
	float:left;
	width:60%;
}

.box4 {
	float:left;
	width:40%;
	text-transform: lowercase;
}

/* BOX3とBOX4の左右間隔 */
.box3 {
	padding-right: 50px;
	-moz-box-sizing: border-box;
	-wedkit-box-sizing: border-box;
	box-sizing: border-box;
}
}

/* ########## 1040px以上 ########## */
@media (min-width: 1040px){
	
/* 全体の横幅を固定　*/
.box1,.box2,.boxA,.box5{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
}

